/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 227, 255);
  color: rgb(22, 0, 21);
  /* font-family: (https://fonts.google.com/specimen/Work+Sans); */
}

header {
  width: 100%;
  height: 285px;
  background-image: url("images/background-pattern-desktop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  background-color: white;
  width: 450px;
  height: auto;
  padding: 26px;
  padding-top: 31px;
  padding-bottom: 20px;
  border-radius: 15px;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow: hidden;
}

.hl {
  display: flex;
  font-size: 38px;
  margin-bottom: 30px;
  color: rgb(44, 0, 54);
}
.star {
  padding-right: 20px;
  width: 50px;
}

.hr {
  border: 0;
  border-top: 1px solid rgba(92, 92, 92, 0.195);
  height: 0;
}

/* Questions */
.question {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
#quest1 {
  padding-top: 15px;
}
#quest4 {
  padding-bottom: 15px;
}

.plus {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-image: url("images/icon-plus.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}

/* Answers */
.answer {
  padding-bottom: 20px;
  font-size: 14.6px;
  color: rgba(72, 0, 86, 0.501);
  display: none;
}

/* Plus Button */
.plus.button-active {
  background-image: url("images/icon-minus.svg");
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
    top: 100px;
  }
}

@media (max-width: 496px) {
  .container {
    width: 95%;
    padding: 15px;
    top: 50px;
  }
}
