* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(252, 247, 241);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 800px;
  padding: 45px;
  gap: 0px;
  margin-top: 40px;
}

#HL {
  width: 100%;
  text-align: left;
  padding: 20px;
  padding-left: 50px;
  font-weight: bolder;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0px;
  position: relative;
}

.pic {
  width: 100%;
  border-radius: 8px;
}

.add {
  border-radius: 20px;
  width: 135px;
  height: 35px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.picName,
.picDesc,
.price {
  text-align: left;
  width: 100%;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 0px;
}
.picName {
  font-size: 12px;
  color: rgba(30, 14, 14, 0.46);
  margin-top: 30px;
}
.price {
  padding-top: 0px;
  padding-bottom: 20px;
  color: rgb(203, 96, 3);
  margin-top: 10px;
}

.container-2 {
  background-color: rgba(255, 255, 255, 0.726);
  width: 300px;
  height: 300px;
  position: relative;
  padding: 15px;
  margin-top: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
}
#orderItems {
  list-style-type: none;
  padding: 0;
  background-color: rgb(252, 247, 241);
  font-size: 12px;
  text-align: left;
}

#orderItems li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 10px;
}

#orderItems li .product-name {
  flex: 1;
  text-align: left;
}

#orderItems li .product-price {
  text-align: right;
  white-space: nowrap;
}

.totPrice {
  font-size: 22px;
  background-color: rgb(252, 247, 241);
  text-align: center;
  color: darkred;
}

#hl {
  text-align: left;
  margin-left: -10px;
  width: 100%;
  margin: 0;
  padding: 5px;
  color: rgb(198, 69, 0);
  font-size: 22px;
}

#h2 {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: lighter;
  color: red;
}

.pic2 {
  width: 80%;
  max-width: 100px;
  margin-top: 10px;
}

#cartDesc {
  height: 30px;
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  color: rgba(106, 15, 15, 0.601);
}

#cartItems {
  list-style-type: none;
  padding: 0;
  margin: o;
  background-color: rgb(252, 247, 241);
  font-size: 12px;
  text-align: left;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#cartItems li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name {
  flex: 1;
  text-align: left;
}

.product-price {
  text-align: right;
  white-space: nowrap;
  margin-left: 10px;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  margin-left: 35px;
}

.remove-button:hover {
  background-color: darkgray;
  color: darkred;
}

.add:hover {
  background-color: rgba(117, 117, 117, 0.614);
}

.add.active {
  background-color: red;
  color: white;
}

#orderConfirmation {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.752);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  padding: 50px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#p3 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.592);
  padding: 15px;
  text-align: left;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}
