.mainCon {
  background-color: hsl(0, 0%, 100%);
  color: hsl(30, 10%, 34%);
  width: 550px;
  height: 100%;
  padding: 30px;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
}
