* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/hawaii-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: rgb(253, 221, 181);
  height: 100px;
  width: 100%;
  margin-top: -25px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-size: 72px;
  text-align: center;
  padding: 15px;
  color: rgba(99, 11, 11, 0.789);
}

.container {
  background-color: rgba(254, 231, 197, 0.775);
  width: 1200px;
  height: 600px;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.inCon {
  background-color: rgba(245, 245, 245, 0.797);
  width: 500px;
  border-radius: 40px;
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.TD {
  color: brown;
  list-style: none;
  max-height: 650px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

ul.TD li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

ul.TD li:hover {
  background-color: lightgray;
}

ul.TD li.completed {
  text-decoration: line-through;
  background-color: yellow;
  margin-top: 10px;
}

ul.TD li button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul.TD li button:hover {
  background-color: darkred;
}

.hidden {
  display: none;
}

.notes-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

textarea.notes {
  width: 60%;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 5px;
  resize: none;
  margin-bottom: 20px;
}
