.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  height: 350px;
  max-width: 900px;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url("../images/pokemon-app-pokeballs-noback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: auto;
}

.card-details h1 {
  font-size: 32px;
  color: #141414;
  background-color: #ffffffd5;
  padding: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 20px;
  text-transform: capitalize;
  align-self: flex-start;
}

.card-details img {
  width: 320px;
  height: 320px;
  object-fit: contain;
  margin-bottom: -84px;
  z-index: 10;
}

.card-details p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
  text-align: center;
}

.card-details p span {
  font-weight: bold;
  color: #222;
}

.pokeAbout {
  margin-top: -20px;
  margin-bottom: -7px;
  width: 55%;
  height: 100%;
  border: 1px solid #555;
  box-shadow: 2px 2px 4px rgb(69, 69, 69);
  padding: 30px;
  padding-top: 80px;
  border-radius: 30px 30px 0 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.pokeAbout::-webkit-scrollbar {
  display: none;
}

.backButton {
  transition: transform 0.5s;
}
.backButton:hover {
  transform: scale(1.9);
}

.headButton {
  background-color: transparent;
  display: flex;
  cursor: pointer;
  border-right: 0.5px solid black;
  border-left: 0px;
  padding-right: 50px;
  padding-left: 50px;
  border-top: 0;
  border-bottom: 0;
  font-weight: bold;
  font-size: 23px;
}

.headButton:hover {
  background-color: rgba(255, 61, 61, 0.868);
}

#lastPageButton {
  border-right: 0px;
}

:root {
  --fire: #fa6621;
  --water: #8cadfb;
  --grass: #99ee6e;
  --electric: rgb(255, 238, 107);
  --psychic: #ff9bb7;
  --rock: rgb(255, 235, 205);
  --ground: rgb(202, 158, 102);
  --ghost: #70559b;
  --ice: rgb(178, 247, 255);
  --dark: black;
  --fairy: rgb(254, 161, 193);
  --dragon: rgb(68, 124, 98);
  --steel: #b7b9d0;
  --bug: #478727;
  --normal: rgb(244, 244, 244);
  --poison: rgb(139, 0, 139);
  --fighting: #c12239;
  --flying: rgb(204, 211, 254);
}

@media (max-width: 950px) {
  .card-details {
    left: -10px;
  }
}
@media (max-width: 786px) {
  .headButton {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 650px) {
  .img2shiny {
    display: none;
  }

  .card-details {
    padding-bottom: 120px;
    top: 0px;
  }

  .card-details img {
    width: 360px;
    height: 360px;
    margin-bottom: -180px;
  }

  .pokeAbout {
    width: 95%;
    height: 100%;
    margin-left: 26px;
    margin-bottom: -100px;
  }
}

@media (max-width: 500px) {
  .headButton {
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* page activation */

.aboutPage {
  display: none;
}

.aboutPage.active {
  display: block;
}

button:focus {
  background-color: #eee;
}

ul {
  list-style-type: none;
}

.aboutPage.active#page4 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding-top: 50px;
}
.aboutPage#page4 li {
  cursor: pointer;
  width: 100px;
  font-weight: bold;
  padding-bottom: 50px;
}
.aboutPage.active#page4 #p1:hover {
  transform: scale(1.4);
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 5px;
  border-radius: 15px;
  margin-right: 20px;
}
.active-move {
  color: var(--activeMoveColor);
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}
.move-details {
  display: none;
  font-size: 0.9em;
  margin-top: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.active .move-details {
  display: block;
}

.cryButton {
  position: absolute;
  padding: 5px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
}

.cryButton:hover {
  background-color: #cecece;
}

.loadImg {
  width: 450px;
  height: 300px;
  background-image: url("../images/pokemon-app-mew-two.jpg");
  background-position: center;
  background-size: cover;
}
