.changingBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/pokemon-app-background-4.jpg");
  background-size: cover;
  background-position: center;
}

.mainDiv {
  background-color: rgba(245, 245, 245, 0.765);
  padding-left: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: auto;
  max-width: 380px;
  gap: 20px;
}

.oak {
  width: 180px;
  height: 300px;
  background-image: url("../images/pokemon-app-oak.jpg");
  background-position: center;
  background-size: cover;
  right: -50px;
}

.lastDiv {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.765);
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  bottom: 10px;
}

@media (max-width: 700px) {
  .changingBackground {
    background-image: url("../images/pokemon-app-background-media-3.jpg");
  }

  .lastDiv {
    width: 90%;
  }
}
