body {
  background-image: url("../images/pokemon-app-background-20.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pokeCon {
  width: 75%;
  height: 100%;
  padding: 40px;
  margin: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 2px 2px 8px black;
  background-image: url("../images/pokemon-app-fullBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
}

.pokeCon::-webkit-scrollbar {
  width: 100%;
}
.pokeCon::-webkit-scrollbar-track {
  background-color: rgba(83, 83, 83, 0.438);
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  width: 6px;
}
.pokeCon::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 80px;
  height: 6px;
}

.hl {
  display: flex;
  justify-self: left;
  margin-left: 100px;
  font-weight: bold;
  font-size: 82px;
  color: darkblue;
  border-bottom: 3px solid black;
  margin-top: 150px;
}
.p {
  color: black;
}

.mew1 {
  width: 180px;
  height: 100px;
  margin-left: 45px;
  border-radius: 30%;
  background-image: url("../images/pokemon-app-mew-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loadingMew {
  width: 200px;
  height: 250px;
  background-image: url(../images/pokemon-app-mew-4-noBack.png);
  background-size: cover;
  background-position: center;
}

.pokemon-card {
  width: 265px;
  height: 170px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  transition: transform 0.5s;
  cursor: pointer;
  margin: 6px;
  background-image: url("../images/pokemon-app-pokeballs-noback.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pageButton {
  padding: 5px 10px;
  margin: 0 5px;
  color: whitesmoke;
  background-color: rgb(40, 40, 40);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.movingPageButton {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 10px;
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
  border: 0.5px solid rgb(77, 77, 77);
  transition: transform 0.3s;
}

.movingPageButton:hover {
  background-color: rgb(206, 206, 206);
  transform: scale(1.1);
}

.pageButton:hover {
  color: black;
  background-color: #e1e1e1;
}

.pageButton.active {
  background-color: #6bb2ff;
  color: white;
  font-weight: bold;
}

.pageButtonsContainer {
  margin: 20px 0;
}

.pokemonSprite {
  width: 120px;
  height: 110px;
  display: flex;
  justify-self: right;
  margin-top: -70px;
  margin-right: 20px;
}

.pokemonName {
  display: flex;
  flex-direction: column;
  justify-self: left;
  font-size: 1rem;
  top: 0;
  left: 0;
  color: #fff;
}
.pokemon-card[data-type="normal"] .pokemonName,
.pokemon-card[data-type="electric"] .pokemonName,
.pokemon-card[data-type="rock"] .pokemonName,
.pokemon-card[data-type="flying"] .pokemonName,
.pokemon-card[data-type="grass"] .pokemonName,
.pokemon-card[data-type="ground"] .pokemonName,
.pokemon-card[data-type="fairy"] .pokemonName,
.pokemon-card[data-type="ice"] .pokemonName,
.pokemon-card[data-type="normal"] .pokemonNumber,
.pokemon-card[data-type="electric"] .pokemonNumber,
.pokemon-card[data-type="rock"] .pokemonNumber,
.pokemon-card[data-type="flying"] .pokemonNumber,
.pokemon-card[data-type="grass"] .pokemonNumber,
.pokemon-card[data-type="ground"] .pokemonNumber,
.pokemon-card[data-type="ice"] .pokemonNumber,
.pokemon-card[data-type="fairy"] .pokemonNumber {
  color: black;
}

.pokemonNumber {
  font-size: 1rem;
  color: white;
  text-align: center;
  display: flex;
  font-weight: bold;
  background-color: transparent;
}

.pokemonTypes {
  width: 70px;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  font-weight: bold;
}

.type {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
}

/* pokemon types colors */

.type.fire {
  background-color: orangered;
}
.type.water {
  background-color: blue;
}
.type.grass {
  background-color: rgb(0, 160, 0);
}
.type.bug {
  background-color: green;
  color: red;
}
.type.dark {
  background-color: rgb(36, 36, 36);
}

.type.ground {
  background-color: brown;
}
.type.normal {
  background-color: rgba(255, 255, 255, 0.929);
  color: rgb(18, 18, 18);
}
.type.steel {
  background-color: rgb(167, 167, 167);
}
.type.rock {
  background-color: chocolate;
}
.type.ghost {
  background-color: darkorchid;
}
.type.electric {
  background-color: rgb(255, 255, 79);
  color: black;
}
.type.flying {
  background-color: rgb(185, 254, 254);
  color: black;
}
.type.dragon {
  background-color: greenyellow;
  color: rgb(22, 22, 22);
}
.type.fighting {
  background-color: red;
}
.type.psychic {
  background-color: pink;
}
.type.poison {
  background-color: rgb(175, 8, 175);
}
.type.ice {
  background-color: rgb(45, 206, 214);
  color: azure;
}

.type.fairy {
  background-color: rgb(255, 150, 187);
}

/* pokemon types colors root */
:root {
  --fire-bg: #fa6621;
  --fire-shadow: #ff8c3ac5;
  --fire-type: orangered;

  --water-bg: #8cadfb;
  --water-shadow: #8cadfbb5;
  --water-type: blue;

  --grass-bg: #99ee6e;
  --grass-shadow: #99ee6ea2;
  --grass-type: rgb(0, 160, 0);

  --bug-bg: #478727;
  --bug-shadow: #5cab34c4;
  --bug-type: green;

  --dark-bg: black;
  --dark-shadow: rgba(36, 36, 36, 0.711);
  --dark-type: rgb(36, 36, 36);

  --ground-bg: rgb(202, 158, 102);
  --ground-shadow: rgba(222, 184, 135, 0.689);
  --ground-type: brown;

  --normal-bg: rgb(244, 244, 244);
  --normal-shadow: rgba(231, 231, 231, 0.793);
  --normal-type: rgba(255, 255, 255, 0.929);

  --steel-bg: #b7b9d0;
  --steel-shadow: rgba(65, 65, 65, 0.721);
  --steel-type: rgb(167, 167, 167);

  --rock-bg: rgb(255, 235, 205);
  --rock-shadow: rgba(255, 235, 205, 0.675);
  --rock-type: chocolate;

  --ghost-bg: #70559b;
  --ghost-shadow: #70559b;
  --ghost-type: darkorchid;

  --electric-bg: rgb(255, 238, 107);
  --electric-shadow: rgba(255, 231, 51, 0.725);
  --electric-type: rgb(255, 255, 79);

  --flying-bg: rgb(204, 211, 254);
  --flying-shadow: rgba(204, 249, 254, 0.852);
  --flying-type: rgb(185, 254, 254);

  --dragon-bg: rgb(68, 124, 98);
  --dragon-shadow: rgba(95, 158, 160, 0.764);
  --dragon-type: greenyellow;

  --fighting-bg: #c12239;
  --fighting-shadow: rgba(215, 67, 67, 0.762);
  --fighting-type: red;

  --psychic-bg: #ff9bb7;
  --psychic-shadow: rgba(255, 93, 161, 0.818);
  --psychic-type: pink;

  --poison-bg: rgb(139, 0, 139);
  --poison-shadow: rgba(139, 0, 139, 0.745);
  --poison-type: rgb(175, 8, 175);

  --ice-bg: rgb(178, 247, 255);
  --ice-shadow: rgba(131, 243, 255, 0.736);
  --ice-type: rgb(45, 206, 214);

  --fairy-bg: rgb(254, 161, 193);
  --fairy-shadow: rgb(255, 150, 187);
  --fairy-type: rgb(255, 150, 187);
}

@media (max-width: 1200px) {
  .hl {
    margin-left: 20px;
    font-size: 54px;
  }

  .mew1 {
    width: 200px;
    height: 100px;
    margin-left: 25px;
  }

  .pokeCon {
    width: 65%;
    padding-left: 40px;
    height: 620px;
    margin-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: row;
  }
}

@media (max-width: 930px) {
  .mew1 {
    width: 130px;
    height: 70px;
  }

  .moveBut {
    margin-left: 10px;
  }

  .pokeCon {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .movingPageButton {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .pokeCon {
    margin-left: 42px;
  }

  .hl {
    margin-left: 10px;
    font-size: 42px;
  }

  .mew1 {
    width: 100px;
    height: 50px;
    margin-left: 20px;
  }

  .pageButton {
    padding: 2px 4px;
  }
}

/* fonts-face */

@font-face {
  font-family: "arcadeclassic";
  src: url("../font/arcadeclassic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Digitag";
  src: url("../font/digitag.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Joystix";
  src: url("../font/joystix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
