html,
body {
  height: 100vh;
  margin: 0;
  background-color: rgb(19, 0, 54);
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
}

.background {
  position: absolute;
  width: 800px;
  height: auto;
  top: 0;
  right: 0;
  overflow: hidden;
  margin-top: 130px;
  margin-right: 200px;
}

.background-2 {
  position: absolute;
  display: flex;
  width: 200px;
  height: auto;
  z-index: 1;
  margin-top: 124px;
  margin-left: 250px;
  overflow: hidden;
}

.fullLogo {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: auto;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 10px;
  padding-right: 20px;
  position: relative;
}

#pod {
  color: white;
  font-size: 34px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 45px;
}
#thank {
  background-color: rgb(19, 0, 54);
  color: rgba(255, 255, 255, 0.701);
  width: 300px;
  height: auto;
  padding: 10px;
  margin-top: 70px;
  align-self: center;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
}

#pic {
  position: relative;
  width: 100%;
}

.photo {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 186, 148, 0.474);
  pointer-events: none;
}

.content {
  background-color: rgb(19, 0, 54);
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 570px;
  height: auto;
  position: absolute;
  margin: 0;
  padding: 50px;
  color: white;
  top: 300px;
  margin-left: 200px;
}

#HL {
  font-size: 42px;
  font-weight: lighter;
  color: rgb(25, 186, 148);
}

#lastW {
  color: white;
}

#p1 {
  width: 420px;
  height: auto;
  font-weight: lighter;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  align-items: center;
}

#in {
  width: 390px;
  height: 42px;
  border-radius: 50px;
  background-color: rgba(73, 74, 90, 0.751);
  color: rgba(223, 223, 223, 0.782);
  border: none;
  padding-left: 20px;
}

.but {
  width: 130px;
  height: 39px;
  border-radius: 50px;
  background-color: rgb(29, 215, 172);
  font-weight: bolder;
  margin-left: -133px;
  border: none;
  cursor: pointer;
}

.window {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.797);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullLogo-2 {
  display: flex;
  flex-direction: column;
}

#thnks {
  display: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  padding: 20px;
  width: 30%;
  height: auto;
  border-radius: 20px;
  font-size: 24px;
  background-color: rgb(29, 215, 172);
}
#not {
  justify-self: center;
  font-size: 12px;
  margin-top: 150px;
  align-items: flex-end;
  color: rgba(201, 0, 0, 0.848);
}

.dot-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 25px;
  margin: 0;
  position: absolute;
  top: 500px;
  right: 20px;
  z-index: 500;
  pointer-events: none;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(25, 186, 148, 0.8);
  border-radius: 50%;
}

@media (max-width: 1038px) {
  .logo,
  .photo,
  .background-2 {
    display: none;
  }

  html,
  body {
    height: 100vh;
    margin: 0;
  }

  .container {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transform: translateX(-50%);
    margin-left: 17%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    top: 0;
    z-index: 100;
    width: 50%;
    height: auto;
    padding: 15px;
    text-align: left;
  }

  #HL,
  #p1 {
    width: 100%;
  }

  #in,
  .but {
    width: 100%;
    margin: 0;
  }
}
