/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: auto;
  height: 100%;
  background-color: black;
  overflow-y: scroll;
}

/* header */
header {
  background-color: rgb(23, 23, 23);
  width: 100%;
  height: 60px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  box-shadow: inset 0px 2px 7px rgba(126, 126, 126, 0.5);
  top: 0;
  z-index: 100;
}

.arrow {
  font-size: 12px;
  transition: transform 0.8s ease;
}

.logo {
  background-color: rgb(240, 186, 51);
  color: black;
  display: flex;
  height: 40px;
  border-radius: 8px;
  padding: 2px;
  width: 70px;
  cursor: pointer;
}
#logoText {
  font-weight: bolder;
  font-size: 16px;
  text-align: end;
}
#shabi {
  font-size: 9.2px;
  color: white;
  margin-top: 6px;
  margin-left: 22px;
  text-align: start;
  position: absolute;
  font-weight: bold;
}
#s {
  font-size: 31px;
  color: black;
}
.search {
  width: 100%;
  height: 37px;
  padding-left: 45px;
  border-radius: 6px;
  font-size: 16px;
  border: 0px;
  background-color: rgb(237, 237, 237);
}
.input1 {
  height: auto;
  width: auto;
}
.filter {
  position: absolute;
  bottom: 14px;
  height: 32px;
  margin-left: 3px;
  border-radius: 6px;
  cursor: pointer;
}

.filterOpen {
  display: none;
  flex-direction: column;
  bottom: -39px;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  border: solid black;
  padding: 4px;
  cursor: pointer;
  position: absolute;
}

.filter:hover .filterOpen {
  display: flex;
}

.menu {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}
#menuText {
  margin-right: 6px;
}
.openMenu {
  background-color: rgb(23, 23, 23);
  box-shadow: inset 0px 2px 7px rgba(45, 45, 45, 0.5);
  padding: 23px;
  font-size: 14px;
  top: 100%;
  left: -25px;
  border-radius: 10px;
  width: 128px;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.menu:hover .openMenu {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu:hover.menu:hover .openMenu {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}
.menu:hover .arrow {
  transform: rotate(180deg);
}

.li {
  margin-top: 13px;
  margin-bottom: 13px;
}
.hr {
  border: 0;
  border-top: 1px solid rgb(228, 153, 23);
  height: 0;
}

.profile {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 6px;
  font-size: 14px;
  margin-top: 7px;
  position: relative;
  cursor: pointer;
}
#profileCircle {
  margin-right: 13px;
  background-color: white;
  color: black;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openProfile {
  background-color: rgb(23, 23, 23);
  box-shadow: inset 0px 2px 7px rgba(45, 45, 45, 0.5);
  padding: 23px;
  font-size: 14px;
  top: 100%;
  right: 20px;
  border-radius: 10px;
  width: 128px;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.profile:hover .openProfile {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile:hover.profile:hover .openProfile {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}

.favList {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
}
#heart {
  padding-right: 7px;
  font-size: 24px;
  color: red;
}

.profile:hover,
.menu:hover,
.favList:hover {
  background-color: rgba(40, 40, 40, 0.6);
  padding: 6px;
  border-radius: 9px;
}

/* Body */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main page */
.mainConIn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.mainCon {
  background-color: #1d1d1d;
  border-radius: 40px;
  padding-left: 45px;
  width: 85%;
  margin-top: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: inset 0px 2px 7px rgba(126, 126, 126, 0.5);
}
.searchPanel {
  margin-top: 20px;
  height: 400px;
  width: 750px;
  border-radius: 20px;
  display: none;
  justify-self: center;
  align-self: center;
  background-color: #1d1d1d;
  box-shadow: inset 0px 2px 7px rgba(126, 126, 126, 0.5);
  overflow-x: scroll;
}

.backgroundImg {
  height: 75%;
  width: 85%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.leftBack {
  color: orangered;
  width: 20%;
  padding-right: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: transparent;
}
.rightBack {
  z-index: 10;
  width: 80%;
  height: 100%;
  padding-top: 50px;
}

/* actors page */
.actorsCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actorsPage {
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.moviesContainer,
.tvContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
  width: 85%;
  height: 300px;
  overflow-x: auto;
  background-color: black;
}

.actorsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 10px;
  width: 75%;
  height: 300px;
  border-radius: 30px;
  overflow-y: auto;
}

#popularActors,
#trendingActors2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  height: auto;
}

.actors-list {
  margin: 5px 0;
  font-size: 0.9em;
  color: #ccc;
}

.actorCard {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 50%;
  margin: 20px;
  width: 160px;
  height: 160px;
  margin-right: 40px;
  flex: 0 0 auto;
  position: relative;
  scroll-behavior: smooth;
}

.actorCard p {
  color: white;
  position: absolute;
  bottom: -40px;
  color: orangered;
}

.actorCard img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

/* my favorites */
.favContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  background-color: #1d1d1d;
  z-index: 100;
  margin-left: -20px;
}

.favCard {
  background-color: #2a2a2a;
  border-radius: 8px;
  margin: 20px;
  width: 70px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

#shabiHL {
  color: rgb(30, 183, 249);
  font-size: 28px;
}

/* saved favorites page */
.savedCon {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#savedList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 670px;
}

/* scroll bar */

.favContainer::-webkit-scrollbar {
  display: none;
}

.actorsContainer::-webkit-scrollbar,
.moviesContainer::-webkit-scrollbar,
.tvContainer::-webkit-scrollbar,
.searchPanel::-webkit-scrollbar {
  width: 12px;
}

.actorsContainer::-webkit-scrollbar-track,
.moviesContainer::-webkit-scrollbar-track,
.tvContainer::-webkit-scrollbar-track,
.searchPanel::-webkit-scrollbar-track {
  background-color: black;
}

.actorsContainer::-webkit-scrollbar-thumb,
.moviesContainer::-webkit-scrollbar-thumb,
.tvContainer::-webkit-scrollbar-thumb {
  background-color: #b7b7b7ce;
  border-radius: 6px;
}

.searchPanel::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 4px;
}

/* general */
.movieCon,
.tvCon,
.dailyCon,
.weeklyCon,
.actorsPage,
.savedPage {
  display: none;
  flex-direction: column;
}

.hlContainer {
  font-size: 28px;
  color: rgb(240, 186, 51);
  font-weight: bold;
  text-align: start;
  align-self: center;
  margin-top: 105px;
  width: 85%;
  flex-direction: column;
}

.movie-card {
  background-color: #2a2a2a;
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.favCard img,
.movie-card img,
.actorCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.favCard:hover::before:hover,
.movie-card:hover::before:hover {
  filter: blur(1.5px) grayscale(100%);
  transform: scale(1.1);
}

.favCard::before,
.movie-card::before {
  content: attr(data-title) " | Genre: " attr(data-genre_id) " | Release: "
    attr(data-release_date);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.652);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: end;
  padding-left: 6px;
  z-index: 2;
}

.favCard:hover::before,
.movie-card:hover::before {
  opacity: 1;
}

/* heart icon */
.heart-icon {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 32px;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 10;
  background-color: transparent;
}
.heart-icon.active {
  background-color: red;
  color: black;
}

.heart-icon:hover {
  transform: scale(1.6);
}

/* about */
.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  box-shadow: inset 2px 2px 7px rgba(246, 201, 37, 0.326);
  width: 100%;
}
.hl2 {
  color: orangered;
  font-size: 32px;
  font-weight: bold;
}
.about,
.contact {
  color: azure;
  font-weight: bold;
  width: 85%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: start;
}
.about {
  padding-right: 44%;
}
.contact {
  padding-right: 36%;
}

.message {
  width: 82%;
  height: 100px;
  margin-top: 35px;
  padding: 25px;
  border: 2px solid orange;
  margin-bottom: 75px;
  font-size: 25px;
}
.text {
  padding-top: 45px;
}

.warning {
  font-size: 14px;
  color: rgb(255, 0, 0);
}

/* day mode */

.inDayMode {
  position: relative;
  width: 120px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(62, 62, 62, 0.46);
  border-radius: 60px;
}

.dayMode {
  padding: 5px 11px;
  background-color: rgb(240, 186, 51);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 5px 7px;
  position: absolute;
}

html.custom-colors-active,
body.custom-colors-active {
  background-color: white;
  color: black;
}
.dayMode.button-active {
  background-color: rgb(123, 252, 222);
}
body.custom-colors-active .logo {
  background-color: rgb(123, 252, 222);
}
body.custom-colors-active #shabi {
  color: rgb(171, 41, 204);
}
.custom-colors-active .hr {
  border-top: 0.6px solid rgba(219, 103, 248, 0.851);
}
.custom-colors-active .hl {
  color: rgb(27, 81, 152);
}

.custom-colors-active .container2 {
  box-shadow: inset 0px 2px 9px rgba(37, 51, 246, 0.408);
}
.custom-colors-active .text {
  color: black;
}
.custom-colors-active .hl2 {
  color: purple;
}
.custom-colors-active .message {
  background-color: black;
  color: white;
  border: 3px solid purple;
}
.custom-colors-active .mainCon {
  background-color: rgb(237, 237, 237);
}
.custom-colors-active .favContainer {
  background-color: rgb(237, 237, 237);
}
.custom-colors-active .heart-icon {
  color: rgb(225, 59, 115);
}
.custom-colors-active .heart-icon.active {
  color: rgb(225, 59, 115);
  background-color: white;
}
.custom-colors-active #shabiHL {
  color: rgb(233, 77, 42);
}
.custom-colors-active .leftBack {
  color: orchid;
}
.custom-colors-active .actorsContainer {
  background-color: white;
}
.custom-colors-active .actorsContainer::-webkit-scrollbar-track {
  background-color: white;
}

.custom-colors-active .searchPanel {
  background-color: rgba(223, 223, 223, 0.734);
}
.custom-colors-active .searchPanel::-webkit-scrollbar-track {
  background-color: white;
}

.custom-colors-active .searchPanel::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 4px;
}

/* Media */

@media (max-width: 1100px) {
  .inDayMode,
  .dayMode {
    display: none;
  }
  .rightBack {
    width: 70%;
  }
  .leftBack {
    width: 30%;
  }
}
@media (max-width: 770px) {
  .backgroundImg {
    flex-direction: column-reverse;
  }
  .favText {
    display: none;
  }
  .rightBack {
    width: 100%;
  }
  .leftBack {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .filter {
    display: none;
  }
  .search {
    padding-left: 10px;
    margin-right: 50px;
  }
  .logo {
    margin-left: -20px;
  }
  #userName {
    display: none;
  }
}
