/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: auto;
  height: 100%;
  background-color: black;
  overflow-y: scroll;
}

/* header */
header {
  background-color: rgb(23, 23, 23);
  width: 100%;
  height: 60px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  box-shadow: inset 0px 2px 7px rgba(126, 126, 126, 0.5);
  top: 0;
  z-index: 100;
}

.arrow {
  font-size: 12px;
}

.logo {
  background-color: rgb(240, 186, 51);
  color: black;
  display: flex;
  height: 40px;
  border-radius: 8px;
  padding: 2px;
  width: 70px;
  cursor: pointer;
}
#logoText {
  font-weight: bolder;
  font-size: 16px;
  text-align: end;
}
#shabi {
  font-size: 9.2px;
  color: white;
  margin-top: 6px;
  margin-left: 22px;
  text-align: start;
  position: absolute;
  font-weight: bold;
}
#s {
  font-size: 31px;
  color: black;
}
.search {
  width: 600px;
  height: 37px;
  padding-left: 9px;
  border-radius: 6px;
  font-size: 16px;
  border: 0px;
  background-color: rgb(237, 237, 237);
}
.menu {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}
#menuText {
  margin-right: 6px;
}
.openMenu {
  background-color: rgb(23, 23, 23);
  box-shadow: inset 0px 2px 7px rgba(45, 45, 45, 0.5);
  padding: 23px;
  font-size: 14px;
  top: 100%;
  left: -25px;
  border-radius: 10px;
  width: 128px;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.menu:hover .openMenu {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu:hover.menu:hover .openMenu {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}
.menu:hover .arrow {
  transform: rotate(180deg);
}

.li {
  margin-top: 13px;
  margin-bottom: 13px;
}
.hr {
  border: 0;
  border-top: 1px solid rgb(228, 153, 23);
  height: 0;
}

.profile {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 6px;
  font-size: 14px;
  margin-top: 7px;
  position: relative;
  cursor: pointer;
}
#profileCircle {
  margin-right: 13px;
  background-color: white;
  color: black;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openProfile {
  background-color: rgb(23, 23, 23);
  box-shadow: inset 0px 2px 7px rgba(45, 45, 45, 0.5);
  padding: 23px;
  font-size: 14px;
  top: 100%;
  right: -20px;
  border-radius: 10px;
  width: 128px;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.profile:hover .openProfile {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile:hover.profile:hover .openProfile {
  position: absolute;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
}

.favList {
  background-color: rgb(23, 23, 23);
  color: white;
  border: 0px;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
}
#heart {
  padding-right: 7px;
  font-size: 24px;
  color: red;
}

.profile:hover,
.menu:hover,
.favList:hover {
  background-color: rgba(40, 40, 40, 0.6);
  padding: 6px;
  border-radius: 9px;
}

/* Body */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainCon {
  background-color: #1d1d1d;
  border-radius: 40px;
  width: 85%;
  margin-top: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-shadow: inset 0px 2px 7px rgba(126, 126, 126, 0.5);
}

.movieCon,
.tvCon {
  display: none;
  flex-direction: column;
}

.moviesContainer,
.tvContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
  width: 85%;
  height: 300px;
  overflow-x: auto;
  background-color: black;
}

.favContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
  width: 85%;
  height: 300px;
  overflow-x: scroll;
  background-color: #1d1d1d;
}

.hlContainer {
  font-size: 28px;
  color: rgb(240, 186, 51);
  font-weight: bold;
  text-align: start;
  align-self: center;
  margin-top: 105px;
  width: 85%;
  flex-direction: column;
}

.movie-card {
  background-color: #2a2a2a;
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  flex: 0 0 auto;
}

.movie-card img {
  width: 100%;
  height: 225px;
}

.fav-card {
  background-color: #2a2a2a;
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  flex: 0 0 auto;
}
.fav-card img {
  width: 100%;
  height: 225px;
}

/* about */
.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  box-shadow: inset 2px 2px 7px rgba(246, 201, 37, 0.326);
  width: 85%;
}
.hl2 {
  color: orangered;
  font-size: 32px;
  font-weight: bold;
}
.about,
.contact {
  color: azure;
  font-weight: bold;
  width: 85%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: start;
}
.about {
  padding-right: 44%;
}
.contact {
  padding-right: 36%;
}

.message {
  width: 82%;
  height: 200px;
  margin-top: 35px;
  border: 2px solid orange;
  margin-bottom: 30px;
}
.text {
  padding-top: 45px;
}

/* day mode */

.inDayMode {
  position: relative;
  width: 120px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(62, 62, 62, 0.46);
  border-radius: 60px;
}

.dayMode {
  padding: 5px 11px;
  background-color: rgb(240, 186, 51);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 5px 7px;
  position: absolute;
}

html.custom-colors-active,
body.custom-colors-active {
  background-color: white;
  color: black;
}
.dayMode.button-active {
  background-color: rgb(123, 252, 222);
}
body.custom-colors-active .logo {
  background-color: rgb(123, 252, 222);
}
body.custom-colors-active #shabi {
  color: rgb(171, 41, 204);
}
.custom-colors-active .hr {
  border-top: 0.6px solid rgba(219, 103, 248, 0.851);
}
.custom-colors-active .hl {
  color: rgb(27, 81, 152);
}

.custom-colors-active .container2 {
  box-shadow: inset 0px 2px 9px rgba(37, 51, 246, 0.408);
}
.custom-colors-active .text {
  color: black;
}
.custom-colors-active .hl2 {
  color: purple;
}
.custom-colors-active .message {
  background-color: black;
  color: white;
  border: 3px solid purple;
}
.custom-colors-active .mainCon {
  background-color: rgb(237, 237, 237);
}
.custom-colors-active .favContainer {
  background-color: rgb(237, 237, 237);
}

/* Media */

@media (max-width: 770px) {
  .inDayMode,
  .dayMode {
    display: none;
  }
}

@media (max-width: 555px) {
  .inDayMode,
  .dayMode {
    display: none;
  }

  header {
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
    position: relative;
  }
}
